.frame-type-form_formframework {
    input,
    textarea {
        width: 100%;
    }

    .mb-3 {
        margin-bottom: 1.5rem;
    }

    input {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
    }

    textarea {
        min-height: 10rem;
    }

    .form-group {
        margin-top: 1rem;
    }

    .actions {
        margin-top: 3rem;
    }

    fieldset {
        background-color: var(--color-white);

        @media (prefers-color-scheme: dark) {
            border-color: var(--color-white-50-transp);
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}
