footer {
    margin-top: auto;
    padding: 2rem;
    width: 100%;
    max-width: var(--max-width);
    font-size: var(--fs-lg);
    margin-inline: auto;

    @media (width <= 640px) {
        padding: 1rem;
    }

    nav {
        display: flex;
        gap: 2rem;
    }
}
