footer {
    margin-top: auto;
    padding: 2rem;
    font-size: var(--fs-lg);

    @media (width <= 640px) {
        padding: 1rem;
    }

    nav {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;

        .active {
            text-decoration-color: orange;
            text-decoration-thickness: 2px;
        }
    }
}
