/* reenie-beanie-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ReenieBeanie-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* ******************* *
*      Properties      *
*  ******************* */

:root {
    --ff-handwriting: 'Reenie Beanie', sans-serif;

    --fs-xs: 0.563rem;
    --fs-sm: 0.75rem; /* small */
    --fs-base: 1rem; /*  p */
    --fs-lg: 1.333rem; /* h6 */
    --fs-xl: 1.777rem; /* h5 */
    --fs-2xl: 2.369rem; /* h4 */
    --fs-3xl: 3.157rem; /* h3 */
    --fs-4xl: 4.209rem; /* h2 */
    --fs-5xl: 5.61rem; /* h1 */

    --lh-xs: 0.9;
    --lh-sm: 1.1;
    --lh-base: 1.3; /* p */

    /* Primitives */
    --color-black: hsl(0, 0%, 25%);
    --color-white: hsl(0, 0%, 100%);
    --color-sand: hsl(28deg 100% 97.5%);
    --color-orange: hsl(39, 100%, 50%);

    /* Semantic */
    --color-call-to-action: var(--color-orange);
    --color-secondary: var(--color-black);

    /* Components */
    --btn-call-to-action: var(--color-call-to-action);
    --btn-cancel: var(--color-secondary);

    --max-width: 90rem;
}

/* ******************* *
*       Typography     *
*  ******************* */

/* Headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    word-break: break-word;
    hyphens: auto;
    text-wrap: balance;
    font-weight: 400;
}
h1 {
    font-size: var(--fs-5xl);
    line-height: var(--lh-xs);

    @media (width <= 640px) {
        font-size: 18vw;
        margin-bottom: 0.5rem;
    }

    + h2 {
        margin-bottom: 1rem;
    }
}
h2 {
    font-size: var(--fs-4xl);
    line-height: var(--lh-xs);

    @media (width <= 640px) {
        font-size: 15vw;
        margin-bottom: 1rem;
    }
}
h3 {
    font-size: var(--fs-3xl);
    line-height: var(--lh-xs);
    margin-bottom: 0.5rem;
}
h4 {
    font-size: var(--fs-2xl);
}
h5 {
    font-size: var(--fs-xl);
}
h6 {
    font-size: var(--fs-lg);
}

/* Bodytext */
body {
    font-size: var(--fs-xl);
    line-height: var(--lh-base);
}
p {
    margin-block: 0 0.5rem;
    line-height: var(--lh-sm);
}
small {
    font-size: var(--fs-sm);
}

/* Typo3 spacings */
.frame-space-before-extra-small {
    margin-top: 1rem;
}
.frame-space-before-small {
    margin-top: 2rem;
}
.frame-space-before-medium {
    margin-top: 3rem;
}
.frame-space-before-large {
    margin-top: 4rem;
}
.frame-space-before-extra-large {
    margin-top: 5rem;
}

.frame-space-after-extra-small {
    margin-bottom: 1rem;
}
.frame-space-after-small {
    margin-bottom: 2rem;
}
.frame-space-after-medium {
    margin-bottom: 3rem;
}
.frame-space-after-large {
    margin-bottom: 4rem;
}
.frame-space-after-extra-large {
    margin-bottom: 5rem;
}

/* ******************* *
*        Layout        *
*  ******************* */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-sand);
    min-height: 100svh;
    color: var(--color-black);
    font-family: var(--ff-handwriting);
    font-style: normal;
}

li {
    list-style-type: none;
}

[id^='c']:not(:has(.ce-right, .ce-center)) {
    max-width: 46rem;
}

.text-muted {
    opacity: 0.5;
}

.text-center {
    text-align: center;
}

/* Buttons */
button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.btn {
    padding: 0.5rem 2rem;
}

.btn-primary {
    background-color: var(--btn-call-to-action);
}
.btn-cancel {
    border: 1px solid var(--btn-cancel);
}

/* Links */
a {
    color: inherit;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
}

nav {
    a {
        &:vistited {
            color: inherit;
        }
    }

    .active {
        text-decoration-color: var(--color-orange);
        text-decoration-thickness: 2px;
    }
}

/* ******************* *
*         Images       *
*  ******************* */

/* Typo 3 CE */
figure {
    margin: 1rem 0;
}
.ce-image img {
    max-width: 600px;
    height: auto;

    @media (width <= 600px) {
        width: 100%;
    }
}
.ce-right .image {
    text-align: right;
}
.ce-center .image {
    text-align: center;
}

/* Custom */
.bg-image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ******************* *
*       Animations     *
*  ******************* */
.frame-slide-in-right {
    transform: translateX(3rem);
    opacity: 0;
    transition: transform 600ms, opacity 600ms;
}

.appear {
    transform: translateX(0rem);
    opacity: 1;
}
