:root {
    /* Dimensions */
    --w-xl: 90rem;
    --w-lg: 50rem;

    /* Special */
    interpolate-size: allow-keywords;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    background-position: top right 20%;
    background-repeat: no-repeat;
    background-size: 17rem;
    min-height: 100svh;
    color: var(--color-black);

    @media (width >= 640px) {
        background-size: 24rem;
    }
    @media (width >= 1024px) {
        background-size: 43rem;
    }
    @media (width >= 1440px) {
        background-position: top right;
    }
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}

:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 0.4rem;
}

.bg-image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

@layer animations {
    .frame-slide-in-right {
        transform: translateX(3rem);
        opacity: 0;
        transition:
            transform 600ms,
            opacity 600ms;
    }

    .appear {
        transform: translateX(0rem);
        opacity: 1;
    }
}
