.main-header {
    padding: 2rem;
    width: 100%;
    max-width: var(--w-xl);
    margin-inline: auto;

    @media (width <= 640px) {
        padding: 1rem;
    }

    & > div {
        display: flex;
        justify-content: space-between;

        @media (width <= 640px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            row-gap: 0.5rem;
        }
    }
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;

    @media (width <= 640px) {
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.sub-nav {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 1rem;
    width: 100%;
    max-width: var(--w-xl);
    border-block: 2px dotted var(--color-black);
    margin-inline: auto;
    padding-block: 0.5rem;

    @media (width <= 640px) {
        row-gap: 0.5rem;
    }
}

.lang-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: var(--fs-sm);
    gap: 1rem;

    @media (width <= 640px) {
        text-align: right;
    }
}
