.mobile-nav-toggle-button {
    @media (width > 640px) {
        display: none;
    }

    &:checked {
        + .main-nav-wrapper {
            display: flex;
            flex-direction: column;
            background-color: gray;
        }
    }
}

.main-header {
    padding: 2rem;
    width: 100%;
    max-width: var(--w-xl);
    margin-inline: auto;

    & > div {
        display: flex;
        justify-content: space-between;

        @media (width <= 640px) {
            display: none;
        }
    }
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;

    @media (width <= 640px) {
        gap: 0.5rem 1rem;
    }
}

.sub-nav {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 1rem;
    width: 100%;
    max-width: var(--w-xl);
    border-block: 2px dotted var(--color-black);
    margin-inline: auto;
    padding-block: 0.5rem;

    @media (width <= 640px) {
        row-gap: 0.5rem;
    }
}

.lang-nav {
    display: flex;
    align-items: flex-end;
    font-size: var(--fs-sm);
    gap: 1rem;
    text-transform: uppercase;

    @media (width <= 640px) {
        text-align: right;
    }
}
