.top-navigations {
    display: flex;
    max-width: var(--max-width);
    margin-inline: auto;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;

    @media (width <= 640px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 0.5rem;
        padding: 1rem;
    }
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;

    @media (width <= 640px) {
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 1rem;
    }
}

.language-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    font-size: var(--fs-lg);

    @media (width <= 640px) {
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 1rem;
        text-align: right;
    }
}
