.to-top-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    transition: opacity 600ms;
    opacity: 1;
    z-index: 6;
    background-color: transparent;
    cursor: pointer;
    padding: 0.3rem;
    width: 3rem;
    height: 3rem;

    @media (width <= 640px) {
        right: 1rem;
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--color-black);
        border-radius: 50%;
        padding: 0.4rem;
        width: 100%;
        height: 100%;
    }

    svg {
        width: 100%;
        height: 100%;
        color: var(--color-black);
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}
