.images-collection {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .image-item {
        display: flex;
        flex-direction: column;

        .image-wrapper {
            img {
                width: 100%;
                max-width: 600px;
                height: auto;
            }
        }

        .description {
            p {
                margin: 0;
            }
        }
    }
}
