.images-collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));

    &:has(+ *) {
        margin-bottom: 5rem;
    }

    header {
        display: flex;
        position: relative;
        grid-column: 1 / -1;
        justify-content: center;
        text-align: center;

        @media (width <= 640px) {
            margin-bottom: 2rem;
        }

        .headline {
            z-index: 1;
            margin-bottom: 1rem;
            background-color: var(--color-sand);
            padding-inline: 1rem;
        }

        .line {
            position: absolute;
            right: 0;
            bottom: 50%;
            left: 0;
            z-index: 0;
            border-top: 3px dotted var(--color-black);

            @media (width <= 640px) {
                bottom: 0;
            }
        }
    }

    .collection-item {
        display: flex;
        position: relative;
        flex-direction: column;
        /* align-items: center; */
        background-color: var(--color-white);

        .image-wrapper {
            margin-block: auto;

            img {
                width: 100%;
                max-width: 700px;
                height: 100%;
                object-fit: cover;
            }
        }

        .description {
            position: absolute;
            bottom: 1rem;
            background-color: var(--color-white);
            padding: 0.25rem 1rem 0.1rem;
            backdrop-filter: blur(2px);
            border-block: 1px solid var(--color-black);
            box-shadow: 3px 3px 8px var(--color-shadow-default);

            p {
                margin: 0;
            }
        }

        .more-link {
            display: flex;
            column-gap: 0.5rem;
            position: absolute;
            bottom: 1rem;
            right: 0;
            background-color: var(--color-white);
            padding: 0.25rem 1rem 0.1rem;
            backdrop-filter: blur(2px);
            border-block: 1px solid var(--color-black);
            box-shadow: -3px 3px 8px var(--color-shadow-default);

            svg {
                width: 1rem;
            }
        }
    }
}
