.images-collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));

    &:has(+ .images-collection) {
        margin-bottom: var(--spacing-xl);
    }

    header {
        display: flex;
        position: relative;
        grid-column: 1 / -1;
        justify-content: center;
        text-align: center;

        @media (width <= 640px) {
            margin-bottom: var(--spacing-sm);
        }

        .headline {
            z-index: 1;
            margin-bottom: 1.25rem;
            background-color: var(--color-white);
            padding-inline: 1rem;
        }

        .line {
            position: absolute;
            right: 0;
            bottom: 60%;
            left: 0;
            z-index: 0;
            border-bottom: 3px dotted var(--color-black);

            @media (width <= 640px) {
                bottom: 0;
            }
        }
    }

    .collection-item {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);

        &:hover .description {
            opacity: 1;
        }

        > a {
            width: 100%;
            height: 100%;
        }

        .image-wrapper {
            margin-block: auto;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                max-width: 700px;
                height: 100%;
                object-fit: cover;
            }
        }

        .description {
            position: absolute;
            background-color: var(--color-black);
            padding: 1rem 2rem;
            pointer-events: none;
            transition: 500ms ease-in-out;
            opacity: 0;

            p {
                margin: 0;
                color: var(--color-white);
                font-size: var(--fs-base);

                span {
                    font-weight: bolder;
                }
            }
        }
    }
}
